/* Centering navbar (links at top) Source: Stack Overflow */
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

/* Make HR more visible in gray background */
hr {
	margin: 20px 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #ffffff;
}

/* Change background color */
body {
	background-color: #EEE;
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Class to center contents */
.center {
	text-align: center;
}
